*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #bec3be;
    /* margin: 20px; */
    margin: 20%;
}

/* title */
#title{
    text-align: center;
    text-shadow: 5px 5px 5px whitesmoke;
    font-size: 8vh;
}

/* image */
#img{
    display: block;
    margin-left: 142px;
    margin-right: auto;
    width: 50%;
}

/* Setting font color and font
        size of the image-caption */
#caption {
        margin-left: 142px;
        font-size: 17px;
        font-family: Gill Sans;
        color: black;
        font-weight: bold;
        }
#caption_1 {
        margin-left: 142px;
        font-size: 17px;
        font-family: Gill Sans;
        color: black;
        font-weight: bold;
        }

 /* Styling the content of the page like-
        padding, font-size, font color etc.*/
div#tribute-data {
            background-color: rgb(46, 139, 87, 0.25);
            box-shadow: 20px 20px 20px #98FB98;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
        }

/* Styling the title of the content */
h1#tribute-a{
            font-size: 35px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }

/* Styling the link */
#link {
    font-size: 20px;
    margin-left: 9px;
}